{% extends "layout.html" %}
{% block body %}


<!-- Page Header-->
<header class="masthead" style="background-image: url(' {{url_for('static',filename='assets/img/contact-bg.jpg')}} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Edit Post</h1>
                    <span class="subheading">Control Your Posts Easily</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 style="float: left;">Add/Edit Your Post</h1>

                <a href="/logout"><button class="btn btn-danger" style="float: right; position: relative;bottom: 10px; right: 10px;">Logout</button></a>

                <a href="/dashboard">  <button class="btn btn-success" style="float: right; position: relative;bottom: 10px;margin-right: 20px; right: 10px;" >Go Back</button></a>

                
                <div class="my-5">

                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit/post-{{post.sno}}" method="post">


                        <div class="form-floating">
                            <input class="form-control" id="title" type="text" placeholder="Enter your title..." data-sb-validations="required" name="title" value="{{post.title}}" style="font-size: 20px"/>
                            <label for="name">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                        </div>

                        <div class="form-floating">
                            <input value="{{post.subtitle}}" class="form-control" id="subtitle" type="text" placeholder="Enter your subtitle..." style="height: 6rem; font-size: 20px;" name="subtitle"/>
                            <label for="subtitle">Subtitle</label>
                        </div>
                        
                        <div class="form-floating">
                            <textarea class="form-control" id="content" placeholder="Enter your content here..." style="height: 12rem; font-size: 20px;" data-sb-validations="required" name="content" >{{post.content}}</textarea>
                            <label for="message">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="content:required">A Content is required.</div>
                        </div>

                        <div class="form-floating">
                            <input value="{{post.slug}}" class="form-control" id="slug" type="slug" placeholder="Enter your slug..." data-sb-validations="required" name="slug" style="font-size: 20px"/>
                            <label for="slug">Slug</label>
                            <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
                        </div>

                        <div class="form-floating">
                            <input value="{{post.image}}" class="form-control" id="img_file" type="imagename" placeholder="Enter your image filename..." data-sb-validations="required" name="img_file" style="font-size: 20px"/>
                            <label for="slug">Image Filname</label>
                            <div class="invalid-feedback" data-sb-feedback="img_file:required">A image file is required.</div>
                        </div>

                        <br />
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>








{% endblock %}